body {
    background-color: orange;
}

h1 {
    color: black;
    text-align: center;
}

main {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}

nav {
    text-align: center;
}
a:visited {
    color:black
}

.contents {
    border-style: solid;
    border-color: black;
    width: fit-content;
}
i {
    color: blue;
    text-decoration: underline;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.covers {
    max-width: 20%;
    padding: 5%;
}