body {
    background-color: orange;
    font-family: Verdana;

}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    max-width: fit-content;
    margin: auto;
}

h2 {
    border-color: black;
    border-style: double;
    padding-bottom: 15px;
}

main {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

a:visited {
    color: black
}

.contents {
    border-style: solid;
    border-color: black;
    width: fit-content;
}

i {
    color: blue;
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
}

.container div {
    width: 50%;
    margin: 10px;
}

.covers {
    max-width: 20%;
    padding: 5%;
}

.chara {
    max-height: 80%;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: dashed;
}